:root {
  --iwRed: #cf1259;
  --iwGreen: #4bcf12;
  --iwLightRed: #f781ae;
  --iwOrange: #ff6610;
  --iwDarkOrange: #cf540c;
  --iwBlueGrey: #606DA6;
  --iwLightBlue: #919bc7;
  --iwBlack: #222222;
  --iwGrey: #d4d4d4;
  --iwDarkGrey: #9c9c9c;
  --iwPureBlack: black;
  background-color: #61dafb;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.message-box {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  text-align: center;
}

#messages {
  height: 200px;
  font-size: 12px;
  padding: 20px;
}

.create-room {
  background-color: darkblue;
}

/* input {
  width: 50%;

}

#button {
  width: 50%
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
